In [1]:
import pandas as pd
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score, accuracy_score
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
from sklearn import preprocessing 
from sklearn import linear_model
from sklearn.tree import plot_tree
import warnings 
from glob import glob
import cv2
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import joblib
from sklearn.cluster import KMeans
import matplotlib.image as img

# combining fertilizer_prediction 1 and 2

In [ ]:
df = pd.read_csv('../datasets/fertilizer_prediction2.csv')
df

In [ ]:
df = df.drop_duplicates()
df

In [ ]:
df = df.drop(['Crop'], axis=1)
df

In [ ]:
label_encoder = LabelEncoder() 
df['Fertilizer']= label_encoder.fit_transform(df['Fertilizer']) 
df

In [ ]:
df_scaled = df
for column in df.columns:
    if column == 'pH':
        df_scaled[column] = df[column]
        continue
    df_scaled[column] = (df[column] - df[column].mean()) / df[column].std()	
df_scaled

In [ ]:
X = df_scaled[['Temperature','Humidity','Moisture','Fertilizer', 'N', 'P', 'K']]
y = df_scaled['pH']

In [ ]:
regr = linear_model.LinearRegression()
regr.fit(X, y)

In [ ]:
x = regr.predict(X)
mean_squared_error(x,y)

In [ ]:
df = pd.read_csv('../datasets/fertilizer_prediction1.csv')
df = df.drop_duplicates()
df

In [ ]:
df = df.drop(['Crop'], axis=1)
df

In [ ]:
label_encoder = LabelEncoder() 
df['Fertilizer']= label_encoder.fit_transform(df['Fertilizer']) 
df

In [ ]:
for column in df.columns:
    df[column] = (df[column] - df[column].mean()) / df[column].std()	
df

In [ ]:
X = df[['Temperature','Humidity','Moisture','Fertilizer','N', 'P', 'K']]

In [ ]:
x = regr.predict(X)
rounded_x = [*map(lambda xx:round(xx,2),x)]
len(x), rounded_x

In [ ]:
df = pd.read_csv('../datasets/fertilizer_prediction1.csv')
# df = df.drop_duplicates()
df = df.drop(['pH'],axis=1)
df['pH'] = rounded_x
df

In [ ]:
df.to_csv('../datasets/fertilizer_prediction1.csv', index=False)

In [ ]:
print(min(df['pH']))
print(max(df['pH']))

# predicting humidity for fertilizer_prediction3

In [2]:
df = pd.read_csv('../datasets/fertilizer_prediction1.csv')
df

,Temperature,Humidity,Moisture,pH,N,P,K,Crop,Fertilizer
0,-0.45,-0.27,-0.89,0.13,-0.89,0.76,0.74,Oil seeds,MOP
1,-0.45,-0.27,-0.89,0.08,-0.89,0.76,0.74,Oil seeds,Urea
2,-1.01,-1.12,-0.80,1.14,1.72,-1.25,-0.58,Oil seeds,MOP
3,-1.01,-1.12,-0.80,1.18,1.72,-1.25,-0.58,Oil seeds,DAP
4,-0.16,0.07,-1.50,-0.29,-0.97,0.76,1.12,Oil seeds,MOP
...,...,...,...,...,...,...,...,...,...
438,-0.54,-0.72,1.20,-0.99,-1.04,-1.00,0.95,rice,Urea
439,-0.54,-0.72,1.20,-0.99,-1.04,-1.00,0.95,rice,DAP
440,0.28,-0.71,1.88,-1.06,1.42,-0.79,0.52,rice,DAP
441,-0.68,-0.56,2.16,0.13,-0.48,1.01,-1.21,rice,Urea
442,-0.68,-0.56,2.16,0.13,-0.48,1.01,-1.21,rice,MOP

In [3]:
df = df.drop_duplicates()
df

,Temperature,Humidity,Moisture,pH,N,P,K,Crop,Fertilizer
0,-0.45,-0.27,-0.89,0.13,-0.89,0.76,0.74,Oil seeds,MOP
1,-0.45,-0.27,-0.89,0.08,-0.89,0.76,0.74,Oil seeds,Urea
2,-1.01,-1.12,-0.80,1.14,1.72,-1.25,-0.58,Oil seeds,MOP
3,-1.01,-1.12,-0.80,1.18,1.72,-1.25,-0.58,Oil seeds,DAP
4,-0.16,0.07,-1.50,-0.29,-0.97,0.76,1.12,Oil seeds,MOP
...,...,...,...,...,...,...,...,...,...
438,-0.54,-0.72,1.20,-0.99,-1.04,-1.00,0.95,rice,Urea
439,-0.54,-0.72,1.20,-0.99,-1.04,-1.00,0.95,rice,DAP
440,0.28,-0.71,1.88,-1.06,1.42,-0.79,0.52,rice,DAP
441,-0.68,-0.56,2.16,0.13,-0.48,1.01,-1.21,rice,Urea
442,-0.68,-0.56,2.16,0.13,-0.48,1.01,-1.21,rice,MOP

In [4]:
df = df.drop(['Crop', 'Fertilizer'], axis=1)
df

     Temperature  Humidity  Moisture    pH     N     P     K
0          -0.45     -0.27     -0.89  0.13 -0.89  0.76  0.74
1          -0.45     -0.27     -0.89  0.08 -0.89  0.76  0.74
2          -1.01     -1.12     -0.80  1.14  1.72 -1.25 -0.58
3          -1.01     -1.12     -0.80  1.18  1.72 -1.25 -0.58
4          -0.16      0.07     -1.50 -0.29 -0.97  0.76  1.12
..           ...       ...       ...   ...   ...   ...   ...
438        -0.54     -0.72      1.20 -0.99 -1.04 -1.00  0.95
439        -0.54     -0.72      1.20 -0.99 -1.04 -1.00  0.95
440         0.28     -0.71      1.88 -1.06  1.42 -0.79  0.52
441        -0.68     -0.56      2.16  0.13 -0.48  1.01 -1.21
442        -0.68     -0.56      2.16  0.13 -0.48  1.01 -1.21

[443 rows x 7 columns]

In [5]:
df_scaled = df
for column in df.columns:
    df_scaled[column] = (df[column] - df[column].mean()) / df[column].std()	
df_scaled

     Temperature  Humidity  Moisture        pH         N         P         K
0      -0.449910 -0.269607 -0.890074  0.129856 -0.891885  0.759273  0.740060
1      -0.449910 -0.269607 -0.890074  0.079850 -0.891885  0.759273  0.740060
2      -1.009741 -1.119648 -0.800096  1.139961  1.719008 -1.248865 -0.581579
3      -1.009741 -1.119648 -0.800096  1.179965  1.719008 -1.248865 -0.581579
4      -0.159997  0.070410 -1.499924 -0.290188 -0.971913  0.759273  1.120531
..           ...       ...       ...       ...       ...       ...       ...
438    -0.539883 -0.719629  1.199411 -0.990262 -1.041937 -0.999096  0.950320
439    -0.539883 -0.719629  1.199411 -0.990262 -1.041937 -0.999096  0.950320
440     0.279871 -0.709628  1.879244 -1.060269  1.418905 -0.789291  0.519787
441    -0.679841 -0.559621  2.159175  0.129856 -0.481745  1.009042 -1.212361
442    -0.679841 -0.559621  2.159175  0.129856 -0.481745  1.009042 -1.212361

[443 rows x 7 columns]

In [6]:
X = df_scaled[['Temperature','Moisture','pH', 'N', 'P', 'K']]
y = df_scaled['Humidity']

In [7]:
regr = linear_model.LinearRegression()
regr.fit(X, y)

LinearRegression()

In [8]:
y_pred = regr.predict(X)
mean_squared_error(y_pred,y)

0.34533816031872083

In [16]:
df = pd.read_csv('../datasets/fertilizer_prediction3.csv')
df

      Temperature  Moisture   pH       Crop    N   P    K Fertilizer
0              20      1000  6.5  Sugarcane   75  50  100        DAP
1              20      1000  6.5  Sugarcane   80  50  100        DAP
2              20      1000  6.5  Sugarcane   85  50  100        DAP
3              20      1000  6.5  Sugarcane   90  50  100        DAP
4              20      1000  6.5  Sugarcane   95  50  100        DAP
...           ...       ...  ...        ...  ...  ..  ...        ...
5110           30      1400  7.0  Sugarcane  130  80  150        MOP
5111           30      1400  7.0  Sugarcane  135  80  150        MOP
5112           30      1400  7.0  Sugarcane  140  80  150        MOP
5113           30      1400  7.0  Sugarcane  145  80  150        MOP
5114           30      1400  7.0  Sugarcane  150  80  150        MOP

[5115 rows x 8 columns]

In [17]:
df = df.drop_duplicates()
df_copy = df
df_copy

      Temperature  Moisture   pH       Crop    N   P    K Fertilizer
0              20      1000  6.5  Sugarcane   75  50  100        DAP
1              20      1000  6.5  Sugarcane   80  50  100        DAP
2              20      1000  6.5  Sugarcane   85  50  100        DAP
3              20      1000  6.5  Sugarcane   90  50  100        DAP
4              20      1000  6.5  Sugarcane   95  50  100        DAP
...           ...       ...  ...        ...  ...  ..  ...        ...
5110           30      1400  7.0  Sugarcane  130  80  150        MOP
5111           30      1400  7.0  Sugarcane  135  80  150        MOP
5112           30      1400  7.0  Sugarcane  140  80  150        MOP
5113           30      1400  7.0  Sugarcane  145  80  150        MOP
5114           30      1400  7.0  Sugarcane  150  80  150        MOP

[5072 rows x 8 columns]

In [11]:
df = df.drop(['Crop', 'Fertilizer'], axis=1)
df

      Temperature  Moisture   pH    N   P    K
0              20      1000  6.5   75  50  100
1              20      1000  6.5   80  50  100
2              20      1000  6.5   85  50  100
3              20      1000  6.5   90  50  100
4              20      1000  6.5   95  50  100
...           ...       ...  ...  ...  ..  ...
5110           30      1400  7.0  130  80  150
5111           30      1400  7.0  135  80  150
5112           30      1400  7.0  140  80  150
5113           30      1400  7.0  145  80  150
5114           30      1400  7.0  150  80  150

[5072 rows x 6 columns]

In [12]:
df_scaled = df
for column in df.columns:
    df_scaled[column] = (df[column] - df[column].mean()) / df[column].std()	
df_scaled

      Temperature  Moisture        pH         N         P         K
0       -1.067697  0.727206 -0.372768 -0.626783 -0.277946  1.084865
1       -1.067697  0.727206 -0.372768 -0.491505 -0.277946  1.084865
2       -1.067697  0.727206 -0.372768 -0.356226 -0.277946  1.084865
3       -1.067697  0.727206 -0.372768 -0.220948 -0.277946  1.084865
4       -1.067697  0.727206 -0.372768 -0.085669 -0.277946  1.084865
...           ...       ...       ...       ...       ...       ...
5110     0.626191  2.383420  0.415343  0.861280  1.553682  2.560920
5111     0.626191  2.383420  0.415343  0.996558  1.553682  2.560920
5112     0.626191  2.383420  0.415343  1.131837  1.553682  2.560920
5113     0.626191  2.383420  0.415343  1.267115  1.553682  2.560920
5114     0.626191  2.383420  0.415343  1.402394  1.553682  2.560920

[5072 rows x 6 columns]

In [13]:
X = df[['Temperature','Moisture','pH','N', 'P', 'K']]

In [14]:
y_pred = regr.predict(X)
y_pred

array([-0.71871089, -0.71869025, -0.7186696 , ...,  0.04704705,
        0.04706769,  0.04708833])

In [15]:
df_scaled['Humidity'] = y_pred
df_scaled

      Temperature  Moisture        pH         N         P         K  Humidity
0       -1.067697  0.727206 -0.372768 -0.626783 -0.277946  1.084865 -0.718711
1       -1.067697  0.727206 -0.372768 -0.491505 -0.277946  1.084865 -0.718690
2       -1.067697  0.727206 -0.372768 -0.356226 -0.277946  1.084865 -0.718670
3       -1.067697  0.727206 -0.372768 -0.220948 -0.277946  1.084865 -0.718649
4       -1.067697  0.727206 -0.372768 -0.085669 -0.277946  1.084865 -0.718628
...           ...       ...       ...       ...       ...       ...       ...
5110     0.626191  2.383420  0.415343  0.861280  1.553682  2.560920  0.047006
5111     0.626191  2.383420  0.415343  0.996558  1.553682  2.560920  0.047026
5112     0.626191  2.383420  0.415343  1.131837  1.553682  2.560920  0.047047
5113     0.626191  2.383420  0.415343  1.267115  1.553682  2.560920  0.047068
5114     0.626191  2.383420  0.415343  1.402394  1.553682  2.560920  0.047088

[5072 rows x 7 columns]

In [18]:
df_scaled['Crop'] = df_copy['Crop']
df_scaled

,Temperature,Moisture,pH,N,P,K,Humidity,Crop
0,-1.067697,0.727206,-0.372768,-0.626783,-0.277946,1.084865,-0.718711,Sugarcane
1,-1.067697,0.727206,-0.372768,-0.491505,-0.277946,1.084865,-0.718690,Sugarcane
2,-1.067697,0.727206,-0.372768,-0.356226,-0.277946,1.084865,-0.718670,Sugarcane
3,-1.067697,0.727206,-0.372768,-0.220948,-0.277946,1.084865,-0.718649,Sugarcane
4,-1.067697,0.727206,-0.372768,-0.085669,-0.277946,1.084865,-0.718628,Sugarcane
...,...,...,...,...,...,...,...,...
5110,0.626191,2.383420,0.415343,0.861280,1.553682,2.560920,0.047006,Sugarcane
5111,0.626191,2.383420,0.415343,0.996558,1.553682,2.560920,0.047026,Sugarcane
5112,0.626191,2.383420,0.415343,1.131837,1.553682,2.560920,0.047047,Sugarcane
5113,0.626191,2.383420,0.415343,1.267115,1.553682,2.560920,0.047068,Sugarcane
5114,0.626191,2.383420,0.415343,1.402394,1.553682,2.560920,0.047088,Sugarcane

In [19]:
df_scaled.to_csv('../datasets/fertilizer_prediction3.csv', index=False)

In [20]:
df = pd.read_csv("../datasets/fertilizer_prediction3.csv")
df

,Temperature,Moisture,pH,N,P,K,Humidity,Crop
0,-1.067697,0.727206,-0.372768,-0.626783,-0.277946,1.084865,-0.718711,Sugarcane
1,-1.067697,0.727206,-0.372768,-0.491505,-0.277946,1.084865,-0.718690,Sugarcane
2,-1.067697,0.727206,-0.372768,-0.356226,-0.277946,1.084865,-0.718670,Sugarcane
3,-1.067697,0.727206,-0.372768,-0.220948,-0.277946,1.084865,-0.718649,Sugarcane
4,-1.067697,0.727206,-0.372768,-0.085669,-0.277946,1.084865,-0.718628,Sugarcane
...,...,...,...,...,...,...,...,...
5067,0.626191,2.383420,0.415343,0.861280,1.553682,2.560920,0.047006,Sugarcane
5068,0.626191,2.383420,0.415343,0.996558,1.553682,2.560920,0.047026,Sugarcane
5069,0.626191,2.383420,0.415343,1.131837,1.553682,2.560920,0.047047,Sugarcane
5070,0.626191,2.383420,0.415343,1.267115,1.553682,2.560920,0.047068,Sugarcane
5071,0.626191,2.383420,0.415343,1.402394,1.553682,2.560920,0.047088,Sugarcane

In [21]:
df['Temperature'] = [*map(lambda xx:round(xx,2),df['Temperature'])]
df['Humidity'] = [*map(lambda xx:round(xx,2),df['Humidity'])]
df['Moisture'] = [*map(lambda xx:round(xx,2),df['Moisture'])]
df['pH'] = [*map(lambda xx:round(xx,2),df['pH'])]
df['N'] = [*map(lambda xx:round(xx,2),df['N'])]
df['P'] = [*map(lambda xx:round(xx,2),df['P'])]
df['K'] = [*map(lambda xx:round(xx,2),df['K'])]
df

      Temperature  Moisture    pH     N     P     K  Humidity       Crop
0           -1.07      0.73 -0.37 -0.63 -0.28  1.08     -0.72  Sugarcane
1           -1.07      0.73 -0.37 -0.49 -0.28  1.08     -0.72  Sugarcane
2           -1.07      0.73 -0.37 -0.36 -0.28  1.08     -0.72  Sugarcane
3           -1.07      0.73 -0.37 -0.22 -0.28  1.08     -0.72  Sugarcane
4           -1.07      0.73 -0.37 -0.09 -0.28  1.08     -0.72  Sugarcane
...           ...       ...   ...   ...   ...   ...       ...        ...
5067         0.63      2.38  0.42  0.86  1.55  2.56      0.05  Sugarcane
5068         0.63      2.38  0.42  1.00  1.55  2.56      0.05  Sugarcane
5069         0.63      2.38  0.42  1.13  1.55  2.56      0.05  Sugarcane
5070         0.63      2.38  0.42  1.27  1.55  2.56      0.05  Sugarcane
5071         0.63      2.38  0.42  1.40  1.55  2.56      0.05  Sugarcane

[5072 rows x 8 columns]

In [22]:
df.to_csv('../datasets/fertilizer_prediction3.csv', index=False)

# prediction of fertilizer for fertilizer_prediction3

In [122]:
df = pd.read_csv("../datasets/fertilizer_prediction1.csv")
df

,Temperature,Humidity,Moisture,pH,N,P,K,Crop,Fertilizer
0,-0.45,-0.27,-0.89,0.13,-0.89,0.76,0.74,Oil seeds,MOP
1,-0.45,-0.27,-0.89,0.08,-0.89,0.76,0.74,Oil seeds,Urea
2,-1.01,-1.12,-0.80,1.14,1.72,-1.25,-0.58,Oil seeds,MOP
3,-1.01,-1.12,-0.80,1.18,1.72,-1.25,-0.58,Oil seeds,DAP
4,-0.16,0.07,-1.50,-0.29,-0.97,0.76,1.12,Oil seeds,MOP
...,...,...,...,...,...,...,...,...,...
438,-0.54,-0.72,1.20,-0.99,-1.04,-1.00,0.95,rice,Urea
439,-0.54,-0.72,1.20,-0.99,-1.04,-1.00,0.95,rice,DAP
440,0.28,-0.71,1.88,-1.06,1.42,-0.79,0.52,rice,DAP
441,-0.68,-0.56,2.16,0.13,-0.48,1.01,-1.21,rice,Urea
442,-0.68,-0.56,2.16,0.13,-0.48,1.01,-1.21,rice,MOP

In [95]:
df = df.drop_duplicates()
df

,Temperature,Humidity,Moisture,pH,N,P,K,Crop,Fertilizer
0,-0.45,-0.27,-0.89,0.13,-0.89,0.76,0.74,Oil seeds,MOP
1,-0.45,-0.27,-0.89,0.08,-0.89,0.76,0.74,Oil seeds,Urea
2,-1.01,-1.12,-0.80,1.14,1.72,-1.25,-0.58,Oil seeds,MOP
3,-1.01,-1.12,-0.80,1.18,1.72,-1.25,-0.58,Oil seeds,DAP
4,-0.16,0.07,-1.50,-0.29,-0.97,0.76,1.12,Oil seeds,MOP
...,...,...,...,...,...,...,...,...,...
438,-0.54,-0.72,1.20,-0.99,-1.04,-1.00,0.95,rice,Urea
439,-0.54,-0.72,1.20,-0.99,-1.04,-1.00,0.95,rice,DAP
440,0.28,-0.71,1.88,-1.06,1.42,-0.79,0.52,rice,DAP
441,-0.68,-0.56,2.16,0.13,-0.48,1.01,-1.21,rice,Urea
442,-0.68,-0.56,2.16,0.13,-0.48,1.01,-1.21,rice,MOP

In [96]:
df = df.drop(['Crop', 'Temperature', 'Humidity', 'Moisture', 'pH'], axis=1)
df

        N     P     K Fertilizer
0   -0.89  0.76  0.74        MOP
1   -0.89  0.76  0.74       Urea
2    1.72 -1.25 -0.58        MOP
3    1.72 -1.25 -0.58        DAP
4   -0.97  0.76  1.12        MOP
..    ...   ...   ...        ...
438 -1.04 -1.00  0.95       Urea
439 -1.04 -1.00  0.95        DAP
440  1.42 -0.79  0.52        DAP
441 -0.48  1.01 -1.21       Urea
442 -0.48  1.01 -1.21        MOP

[443 rows x 4 columns]

In [123]:
label_encoder = LabelEncoder() 
df['Fertilizer']= label_encoder.fit_transform(df['Fertilizer']) 
df

,Temperature,Humidity,Moisture,pH,N,P,K,Crop,Fertilizer
0,-0.45,-0.27,-0.89,0.13,-0.89,0.76,0.74,Oil seeds,2
1,-0.45,-0.27,-0.89,0.08,-0.89,0.76,0.74,Oil seeds,3
2,-1.01,-1.12,-0.80,1.14,1.72,-1.25,-0.58,Oil seeds,2
3,-1.01,-1.12,-0.80,1.18,1.72,-1.25,-0.58,Oil seeds,0
4,-0.16,0.07,-1.50,-0.29,-0.97,0.76,1.12,Oil seeds,2
...,...,...,...,...,...,...,...,...,...
438,-0.54,-0.72,1.20,-0.99,-1.04,-1.00,0.95,rice,3
439,-0.54,-0.72,1.20,-0.99,-1.04,-1.00,0.95,rice,0
440,0.28,-0.71,1.88,-1.06,1.42,-0.79,0.52,rice,0
441,-0.68,-0.56,2.16,0.13,-0.48,1.01,-1.21,rice,3
442,-0.68,-0.56,2.16,0.13,-0.48,1.01,-1.21,rice,2

In [98]:
df_z_scaled = df 
for column in df.columns[:-1]:
    df_z_scaled[column] = (df_z_scaled[column] - df_z_scaled[column].mean()) / df_z_scaled[column].std()	
df_z_scaled

            N         P         K  Fertilizer
0   -0.891885  0.759273  0.740060           2
1   -0.891885  0.759273  0.740060           3
2    1.719008 -1.248865 -0.581579           2
3    1.719008 -1.248865 -0.581579           0
4   -0.971913  0.759273  1.120531           2
..        ...       ...       ...         ...
438 -1.041937 -0.999096  0.950320           3
439 -1.041937 -0.999096  0.950320           0
440  1.418905 -0.789291  0.519787           0
441 -0.481745  1.009042 -1.212361           3
442 -0.481745  1.009042 -1.212361           2

[443 rows x 4 columns]

In [99]:
X = df_z_scaled[df_z_scaled.columns[:-1]]
y = df_z_scaled[df_z_scaled.columns[-1]]

In [105]:
X_train, X_test, y_train, y_test = train_test_split(X, y)
random_forest = RandomForestClassifier()
random_forest.fit(X_train, y_train)
y_pred = random_forest.predict(X_test)
accuracy = accuracy_score(y_pred, y_test)
print(f"Accuracy: {accuracy}")

Accuracy: 0.5495495495495496

In [109]:
random_forest = RandomForestClassifier()
random_forest.fit(X, y)
y_pred = random_forest.predict(X)
accuracy = accuracy_score(y_pred, y)
print(f"Accuracy: {accuracy}")

Accuracy: 0.6681715575620768

In [135]:
df = pd.read_csv('../datasets/fertilizer_prediction3.csv')
df

      Temperature  Humidity  Moisture    pH     N     P     K       Crop
0           -1.07     -0.72      0.73 -0.37 -0.63 -0.28  1.08  Sugarcane
1           -1.07     -0.72      0.73 -0.37 -0.49 -0.28  1.08  Sugarcane
2           -1.07     -0.72      0.73 -0.37 -0.36 -0.28  1.08  Sugarcane
3           -1.07     -0.72      0.73 -0.37 -0.22 -0.28  1.08  Sugarcane
4           -1.07     -0.72      0.73 -0.37 -0.09 -0.28  1.08  Sugarcane
...           ...       ...       ...   ...   ...   ...   ...        ...
5067         0.63      0.05      2.38  0.42  0.86  1.55  2.56  Sugarcane
5068         0.63      0.05      2.38  0.42  1.00  1.55  2.56  Sugarcane
5069         0.63      0.05      2.38  0.42  1.13  1.55  2.56  Sugarcane
5070         0.63      0.05      2.38  0.42  1.27  1.55  2.56  Sugarcane
5071         0.63      0.05      2.38  0.42  1.40  1.55  2.56  Sugarcane

[5072 rows x 8 columns]

In [136]:
df = df.drop_duplicates()
df_copy = df
df_copy

      Temperature  Humidity  Moisture    pH     N     P     K       Crop
0           -1.07     -0.72      0.73 -0.37 -0.63 -0.28  1.08  Sugarcane
1           -1.07     -0.72      0.73 -0.37 -0.49 -0.28  1.08  Sugarcane
2           -1.07     -0.72      0.73 -0.37 -0.36 -0.28  1.08  Sugarcane
3           -1.07     -0.72      0.73 -0.37 -0.22 -0.28  1.08  Sugarcane
4           -1.07     -0.72      0.73 -0.37 -0.09 -0.28  1.08  Sugarcane
...           ...       ...       ...   ...   ...   ...   ...        ...
5067         0.63      0.05      2.38  0.42  0.86  1.55  2.56  Sugarcane
5068         0.63      0.05      2.38  0.42  1.00  1.55  2.56  Sugarcane
5069         0.63      0.05      2.38  0.42  1.13  1.55  2.56  Sugarcane
5070         0.63      0.05      2.38  0.42  1.27  1.55  2.56  Sugarcane
5071         0.63      0.05      2.38  0.42  1.40  1.55  2.56  Sugarcane

[4443 rows x 8 columns]

In [137]:
df = df.drop(['Crop', 'Temperature', 'Humidity', 'Moisture', 'pH'], axis=1)
df

         N     P     K
0    -0.63 -0.28  1.08
1    -0.49 -0.28  1.08
2    -0.36 -0.28  1.08
3    -0.22 -0.28  1.08
4    -0.09 -0.28  1.08
...    ...   ...   ...
5067  0.86  1.55  2.56
5068  1.00  1.55  2.56
5069  1.13  1.55  2.56
5070  1.27  1.55  2.56
5071  1.40  1.55  2.56

[4443 rows x 3 columns]

In [138]:
df_scaled = df 
for column in df.columns:
    df_scaled[column] = (df[column] - df[column].mean()) / df[column].std()	
df_scaled

             N         P         K
0    -0.543707 -0.263786  1.002224
1    -0.407953 -0.263786  1.002224
2    -0.281896 -0.263786  1.002224
3    -0.146142 -0.263786  1.002224
4    -0.020085 -0.263786  1.002224
...        ...       ...       ...
5067  0.901102  1.544022  2.398441
5068  1.036855  1.544022  2.398441
5069  1.162913  1.544022  2.398441
5070  1.298666  1.544022  2.398441
5071  1.424724  1.544022  2.398441

[4443 rows x 3 columns]

In [139]:
X = df_scaled[df.columns]
X

             N         P         K
0    -0.543707 -0.263786  1.002224
1    -0.407953 -0.263786  1.002224
2    -0.281896 -0.263786  1.002224
3    -0.146142 -0.263786  1.002224
4    -0.020085 -0.263786  1.002224
...        ...       ...       ...
5067  0.901102  1.544022  2.398441
5068  1.036855  1.544022  2.398441
5069  1.162913  1.544022  2.398441
5070  1.298666  1.544022  2.398441
5071  1.424724  1.544022  2.398441

[4443 rows x 3 columns]

In [140]:
y_pred = random_forest.predict(X)
y_pred

array([1, 1, 1, ..., 1, 1, 1])

In [141]:
df_copy['Fertilizer'] = y_pred
df_copy['Fertilizer']= label_encoder.inverse_transform(df_copy['Fertilizer']) 
df_copy

/tmp/ipykernel_9642/2850721783.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy['Fertilizer'] = y_pred
/tmp/ipykernel_9642/2850721783.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy['Fertilizer']= label_encoder.inverse_transform(df_copy['Fertilizer'])

,Temperature,Humidity,Moisture,pH,N,P,K,Crop,Fertilizer
0,-1.07,-0.72,0.73,-0.37,-0.63,-0.28,1.08,Sugarcane,Good NPK
1,-1.07,-0.72,0.73,-0.37,-0.49,-0.28,1.08,Sugarcane,Good NPK
2,-1.07,-0.72,0.73,-0.37,-0.36,-0.28,1.08,Sugarcane,Good NPK
3,-1.07,-0.72,0.73,-0.37,-0.22,-0.28,1.08,Sugarcane,Urea
4,-1.07,-0.72,0.73,-0.37,-0.09,-0.28,1.08,Sugarcane,Urea
...,...,...,...,...,...,...,...,...,...
5067,0.63,0.05,2.38,0.42,0.86,1.55,2.56,Sugarcane,Good NPK
5068,0.63,0.05,2.38,0.42,1.00,1.55,2.56,Sugarcane,Good NPK
5069,0.63,0.05,2.38,0.42,1.13,1.55,2.56,Sugarcane,Good NPK
5070,0.63,0.05,2.38,0.42,1.27,1.55,2.56,Sugarcane,Good NPK
5071,0.63,0.05,2.38,0.42,1.40,1.55,2.56,Sugarcane,Good NPK

In [142]:
df_copy.to_csv('../datasets/fertilizer_prediction3.csv', index=False)

# fixing fertilizer_prediction.csv

In [240]:
df = pd.read_csv('../datasets/fertilizer_prediction.csv')
df

,Temperature,Humidity,Moisture,pH,N,P,K,Crop,Fertilizer
0,32.5,60.3,44.6,6.0,0.4,0.5,0.8,Maize,Good NPK
1,34.8,66.4,48.1,5.8,0.2,0.7,0.6,Maize,MOP
2,34.8,66.4,48.1,5.8,0.2,0.7,0.6,Maize,Urea
3,29.0,35.9,17.3,6.5,0.3,0.7,0.6,Maize,MOP
4,29.0,35.9,17.3,6.5,0.3,0.7,0.6,Maize,Urea
...,...,...,...,...,...,...,...,...,...
2177,31.1,47.7,65.7,6.0,0.8,0.8,0.9,Sugarcane,Good NPK
2178,31.1,47.7,65.7,6.0,0.9,0.8,0.9,Sugarcane,Good NPK
2179,34.6,53.8,71.2,6.4,0.7,0.9,0.9,Sugarcane,Good NPK
2180,34.6,53.8,71.2,6.4,0.8,0.9,0.9,Sugarcane,Good NPK
2181,34.6,53.8,71.2,6.4,0.9,0.9,0.9,Sugarcane,Good NPK

In [241]:
df = df.drop_duplicates()
df

,Temperature,Humidity,Moisture,pH,N,P,K,Crop,Fertilizer
0,32.5,60.3,44.6,6.0,0.4,0.5,0.8,Maize,Good NPK
1,34.8,66.4,48.1,5.8,0.2,0.7,0.6,Maize,MOP
2,34.8,66.4,48.1,5.8,0.2,0.7,0.6,Maize,Urea
3,29.0,35.9,17.3,6.5,0.3,0.7,0.6,Maize,MOP
4,29.0,35.9,17.3,6.5,0.3,0.7,0.6,Maize,Urea
...,...,...,...,...,...,...,...,...,...
2177,31.1,47.7,65.7,6.0,0.8,0.8,0.9,Sugarcane,Good NPK
2178,31.1,47.7,65.7,6.0,0.9,0.8,0.9,Sugarcane,Good NPK
2179,34.6,53.8,71.2,6.4,0.7,0.9,0.9,Sugarcane,Good NPK
2180,34.6,53.8,71.2,6.4,0.8,0.9,0.9,Sugarcane,Good NPK
2181,34.6,53.8,71.2,6.4,0.9,0.9,0.9,Sugarcane,Good NPK

In [242]:
df['Temperature'] = [*map(lambda xx:round(xx,0),df['Temperature'])]
df['Humidity'] = [*map(lambda xx:round(xx,0),df['Humidity'])]
df['Moisture'] = [*map(lambda xx:round(xx,0),df['Moisture'])]
df['pH'] = [*map(lambda xx:round(xx,1),df['pH'])]
df['N'] = [*map(lambda xx:round(xx,1),df['N'])]
df['P'] = [*map(lambda xx:round(xx,1),df['P'])]
df['K'] = [*map(lambda xx:round(xx,1),df['K'])]
df

,Temperature,Humidity,Moisture,pH,N,P,K,Crop,Fertilizer
0,32.0,60.0,45.0,6.0,0.4,0.5,0.8,Maize,Good NPK
1,35.0,66.0,48.0,5.8,0.2,0.7,0.6,Maize,MOP
2,35.0,66.0,48.0,5.8,0.2,0.7,0.6,Maize,Urea
3,29.0,36.0,17.0,6.5,0.3,0.7,0.6,Maize,MOP
4,29.0,36.0,17.0,6.5,0.3,0.7,0.6,Maize,Urea
...,...,...,...,...,...,...,...,...,...
2177,31.0,48.0,66.0,6.0,0.8,0.8,0.9,Sugarcane,Good NPK
2178,31.0,48.0,66.0,6.0,0.9,0.8,0.9,Sugarcane,Good NPK
2179,35.0,54.0,71.0,6.4,0.7,0.9,0.9,Sugarcane,Good NPK
2180,35.0,54.0,71.0,6.4,0.8,0.9,0.9,Sugarcane,Good NPK
2181,35.0,54.0,71.0,6.4,0.9,0.9,0.9,Sugarcane,Good NPK

In [243]:
df = df.drop_duplicates()
df

,Temperature,Humidity,Moisture,pH,N,P,K,Crop,Fertilizer
0,32.0,60.0,45.0,6.0,0.4,0.5,0.8,Maize,Good NPK
1,35.0,66.0,48.0,5.8,0.2,0.7,0.6,Maize,MOP
2,35.0,66.0,48.0,5.8,0.2,0.7,0.6,Maize,Urea
3,29.0,36.0,17.0,6.5,0.3,0.7,0.6,Maize,MOP
4,29.0,36.0,17.0,6.5,0.3,0.7,0.6,Maize,Urea
...,...,...,...,...,...,...,...,...,...
2177,31.0,48.0,66.0,6.0,0.8,0.8,0.9,Sugarcane,Good NPK
2178,31.0,48.0,66.0,6.0,0.9,0.8,0.9,Sugarcane,Good NPK
2179,35.0,54.0,71.0,6.4,0.7,0.9,0.9,Sugarcane,Good NPK
2180,35.0,54.0,71.0,6.4,0.8,0.9,0.9,Sugarcane,Good NPK
2181,35.0,54.0,71.0,6.4,0.9,0.9,0.9,Sugarcane,Good NPK

In [244]:
display(df['Crop'].unique())

array(['Maize', 'Sugarcane', 'Groundnut', 'Rice', 'Cotton', 'Wheat',
       'Coconut', 'Jowar', 'Tur', 'Ginger', 'Grapes'], dtype=object)

In [245]:
df.to_csv('../datasets/fertilizer_prediction.csv', index=False)